@import 'tailwindcss' source('../../');

@theme {
  --font-display: 'Space Grotesk', sans-serif;
  --color-primary: #7f13ec;
  --color-dark-primary: #191022;
  --color-surface-dark: #211c27;
}

.mesh-gradient {
  background-color: #191022;
  background-image:
    radial-gradient(at 0% 0%, hsla(270, 60%, 40%, 0.3) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(270, 60%, 30%, 0.3) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(240, 50%, 30%, 0.3) 0px, transparent 50%);
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, iOS */
}
